// Base
$footer-height:						40px;
$background-color:					#222222;
$text-color:						black;
$text-color-light:					white;
$link-color:						$text-color;
$transition-duration:				0.2s;

// Body
$body__padding-vertical:			1em;
$body__padding-horizontal:			2em;

// Navigation
$navigation__margin:				.8em;

// https://github.com/ianrose/typesettings
$base-vertical-unit: 				5px;
$base-line-multi: 					4;
$base-font-size: 					14px;
$ms-ratio: 							1.2;


// Responsive
// ----
// http://www.sitepoint.com/managing-responsive-breakpoints-sass/
// http://sassmeister.com/gist/0614ac3971ae82925ef4
//
// Using em's in case the page get's zoomed in
// http://foundation.zurb.com/docs/media-queries.html
// ----

$screen:       "only screen and";
$breakpoints: (
  'small'  		: '#{$screen} ( max-width: 40em )',
  'medium'  	: '#{$screen} ( min-width: 40.063em )  and ( max-width: 64em )',
  'large' 		: '#{$screen} ( min-width: 64.063em ) and ( max-width: 90em )',
  'x-large'  	: '#{$screen} ( min-width: 90.063em ) and ( max-width: 120em )',
  'xx-large' 	: '#{$screen} ( min-width: 120.063em )'
);